.container {
	display: block;
	max-width: 15%;
	position: fixed;
	right: -109px;
	top:33px;
}

.item {
	margin-top: -6px;
	background-color: #ffffff77;
	width: 140px;
	height: 31px;
	border-bottom: 1px solid #cc153d;
}

.item-job {
	display: inline-block!important;
	margin-top: 10px!important;
	min-width: 136px!important;
	width: auto!important;
}

.job-text {
    padding-top: 6px!important;
		margin-top: 0px!important;
		padding-right: 8px!important;
		font-size: unset!important;
}

.ammo-text {
	margin-top: 0px!important;
}

.item-ammo {
	bottom: 10px;
	position: fixed;
	right: 9px;
	padding-right: 15px!important;
	width: auto;
}

.dark.item-ammo {
	border-top: 4px solid #cc153d!important;
}

.text {
    padding-top: 4px;
		padding-left: 34px;
		text-transform: capitalize;
		font-size: 18px;
}

.dark .item {
	background-color: rgba(0, 0, 0, 0.432)!important;
	border-bottom: unset!important;
	border-top: 2px solid #cc153d;
	margin-top: 6px!important;
}

.dark .text {
	color: white;
}

.dark .text-right {
	margin-top: 0px!important;
}

.dark img{
 filter: brightness(1) invert(0.8);
}

img {
	width: 24px;
  position: fixed;
  padding-top: 3px;
  padding-left: 4px;
}

body {
		font-family: 'Calibri', sans-serif;
		font-weight: 400;
}
